<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:property-placeholder location="classpath:musicPlayer.properties"/>-->

<!--        <context:component-scan base-package="ru.niatomi.MusicPlayer.beans"/>-->

<!--&lt;!&ndash;    Music Player bean configuration &ndash;&gt;-->
<!--        <bean id="classicalMusic"-->
<!--              class="ru.niatomi.MusicPlayerXML.models.ClassicalMusic"-->
<!--              factory-method="getClassicalMusic">-->
<!--        </bean>-->

<!--        <bean id="rockMusic"-->
<!--              class="ru.niatomi.MusicPlayerXML.models.RockMusic">-->
<!--        </bean>-->

<!--        <bean id="jazzMusic"-->
<!--              class="ru.niatomi.MusicPlayerXML.models.JazzMusic">-->
<!--        </bean>-->

<!--        <bean id="musicList" class="java.util.ArrayList">-->
<!--                <constructor-arg>-->
<!--                        <list>-->
<!--                                <ref bean="classicalMusic" />-->
<!--                                <ref bean="rockMusic" />-->
<!--                                <ref bean="jazzMusic" />-->
<!--                        </list>-->
<!--                </constructor-arg>-->
<!--        </bean>-->

<!--        <bean id="musicPlayer"-->
<!--              class="ru.niatomi.MusicPlayerXML.player.MusicPlayer"-->
<!--              scope="prototype"-->
<!--              init-method="doMyInit"-->
<!--              destroy-method="doMyDestroy">-->
<!--                <property name="name" value="${musicPlayer.name}"/>-->
<!--                <property name="volume" value="${musicPlayer.volume}"/>-->

<!--                <property name="musicList" ref="musicList"/>-->

<!--        </bean>-->

</beans>