<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Goodbye</title>
    <style>
        body{
            background-color: #121212; /* Цвет фона веб-страницы */
        }
        p, h2, a {
            color: white; /* Цвет текста */
        }
    </style>
</head>
<body>
    <h1>Goodbye</h1>
    <a href="/spring-mvc-app/first/hello">
        Say hello!
    </a>
    <p>or</p>
    <a href="/spring-mvc-app/exit">
        exit
    </a>

    <p th:text="${message}">123</p>
</body>
</html>