<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <style>
        body{
            background-color: #121212; /* Цвет фона веб-страницы */
        }
        p, h2, a {
            color: white; /* Цвет текста */
        }
    </style>

</head>
<body>
    <h2>Hello</h2>
    <a href="/spring-mvc-app/first/goodbye">
        Say goodbye!
    </a>
    <p>or</p>
    <a href="/spring-mvc-app/exit">
        exit
    </a>
    <p>or</p>
    <a href="/spring-mvc-app/first/hello?name=user&surname=user">
        request with params
    </a>



</body>
</html>